apache
apache_start.bat
apache_stop.bat
catalina_service.bat
catalina_start.bat
catalina_stop.bat
cgi-bin
contrib
FileZillaFTP
htdocs20250115
htdocs_old
htdocs20250122
htdocs2
htdocs_바울
install
licenses
locale
MercuryMail
mysql
mysql_start.bat
mysql_stop.bat
passwords.txt
perl
php
phpMyAdmin
readme_de.txt
readme_en.txt
sendmail
setup_xampp.bat
test_php.bat
tmp
tomcat
webalizer
webdav
xampp-control.exe
xampp-control.ini
xampp-control.log
xampp_start.exe
xampp_stop.exe